
<p><%= image_tag @feed.image.url, size: "600x500"%></p>
<p><%= @feed.content %></p>
<%= link_to 'Edit', edit_feed_path(@feed), class: 'btn btn-default' %> 
<%= link_to 'Back', feeds_path, class: 'btn btn-default' %>
