// Place all the styles related to the feeds controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
table{
  margin: 0 auto;
}
table {
    border-collapse: separate;
    border-spacing: 20px 20px;
}
#error_explanation{
  color:red;
}
.table_scroll{
  height: 600px;
  overflow: scroll;
}
